.container{
    margin: 20px 15%;
    text-align: center;
}
.title{
    font-size: 26px;
    font-weight:bolder;
    color: rgb(221, 13, 13);
}
.subtitle{
    font-size: 21px;
    color: rgb(221, 13, 13);
}
.container hr{
    border-color: #006491;
    background-color: #006491;
}

