.nav{
    background-color: #006491 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10.5%; 
    margin-bottom: 10px; 
}

.nav li,a,button{
    color: white;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
}

.nav li:hover {
    background-color: #0b506f;
    cursor: pointer;
}

.nav li img{
   width: 36px;
   height: 36px;
}
.nav_links li{
    transition: all 0.3s ease 0s;
    display: inline-block;
    padding: 0% 20px;
}

.button{
    padding: 9px 25px;
    background-color:rgb(187, 7, 7);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 50px;
}
.button:hover{
    background-color:rgb(120, 15, 15);
}

.logo{
    width: 150px;
    cursor: pointer;
    margin-right: auto;
}