.wrapper_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
    color: #0b506f;
  }
  
  .container {
    overflow: hidden;
    background-color: white;
    text-align:left;
    position: relative;
    margin: 0.5rem;
    padding-top: 20px;

  }

  .image {
    width: 80%;
    height: auto;
  }
  .tab{
      font-weight: bold;
  }

  .list li{
    padding: 6px 6px;
    border: 1px solid #006491;
    margin-bottom: 2px;
    font-size: 15px;
  }
  .list li:hover{
    background-color:rgb(221, 215, 215);
    cursor: pointer;
  }

  .link_active{
    background-color:rgb(221, 215, 215);
  }

  .bottomFlex{
    margin-top: 10px;
    display: flex;
    color: #0b506f;
    justify-content: space-between;
}
.bottomFlex button{
    padding: 9px 30px;
    background-color:#43AF04;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease 0s;
}
.bottomFlex button:hover{
    border: none;
    background-color:#2ea761;
    color: white;
}

.select {
  width: 200px;
  padding: 5px;
  margin: 0 20px;
}

.inputNumber{
  border: 0.5px solid #006491;
  margin-top: 15px;
  width: 40px;
  height: 30px;
  text-align: center;
}

.link{
  color: #2ea761;
  font-weight: bold;
  cursor: pointer;
}