.container {
    background-color: #006491;
    color: white;
    padding: 0 5%;
	margin:auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
    padding: 10px 0;
    text-align: center;
}
.footer_col{
   width: 33.33%;
   padding: 0 15px;
}
.footer_col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 25px;
	margin-top: 10px;
	position: relative;
	color: #e41937;
	font-weight: bolder;
}

.footer_col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer_col ul li a{
	font-size: 14px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	display: block;
	transition: all 0.3s ease;
}
.footer_col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer_col .social_links{
	display: flex;
	justify-content: space-between;

}
.footer_col .social_links img{
	width: 30px;
	height: 30px;
	transition: transform .2s;
}
.footer_col .social_links img:hover{
	cursor: pointer;
	transform: scale(1.1);
}
.footer_col .social_links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.footer_bottom{
	margin-top: 30px;

}
.footer_bottom a{
	font-size: 18px;
	font-weight: bold;
	color: #2ea761;;
}
.footer_bottom a{
	font-size: 14px;
	font-weight: bold;
	color: #2ea761;;
}
/*responsive*/
@media(max-width: 767px){
  .footer_col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer_col{
    width: 100%;
}
}




